:root {
  /* --pavadinimas: reiksme; */
  --light-gray-color: #f8f9fc;
  --white-color: #ffffff;
  --blue-color: #2a6b7f;
  --dark-blue-color: #202942;
  --cart-color: #2f55d4;
  --settings-color: #2f55d41a;
  --hover-list-border: grey;
}
