.btn {
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
  margin-right: 10px;
}

.btn-color {
  background-color: var(--btn-color);
  color: var(--white-color);
}

.btn .fa.fa-camera {
  padding-right: 8px;
}
.btn .fa.fa-cloud-download {
  padding-right: 8px;
}
