.title {
  letter-spacing: 0.5px;
  font-size: 35px;
  font-weight: 1;
}
.descriptiontxt {
  padding-top: 20px;
  padding-bottom: 30px;
  color: var(--text-color-gray);
  line-height: 1.6rem;
}
.smallertitle {
  letter-spacing: 0.5px;
  font-size: 24px;
  font-weight: 10;
}
.blue-paragraph {
  color: var(--btn-color);
}

.step-style {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 50px;
  color: var(--text-color-default);
  opacity: 0.06;
}
.review-text {
  color: var(--light-gray-color);
  font-size: 16px;
  font-style: "Nunito", sans-serif;
  letter-spacing: 0.5px;
}
