.header {
  padding: 0px;
  height: 100px;
  display: inline-block;
  background: rgb(161, 131, 131);
  position: relative;
}
.logoheader {
  width: 15%;
  float: left;
}

.navigacija {
  display: inline-block;
  float: left;
  margin-left: 100px;
  margin-top: 6px;
}
.ikoneles {
  display: inline-block;
  float: right;
  margin-left: 10px;
}
.navigacija .home {
  display: inline-block;
  margin-right: 30px;
}
.navigacija .landing {
  display: inline-block;
  margin-right: 30px;
}
.navigacija .pages {
  display: inline-block;
  margin-right: 30px;
}
.navigacija .docs {
  display: inline-block;
  margin-right: 30px;
}
.navigacija .demos {
  display: inline-block;
  margin-right: 30px;
}
.ikoneles .fa.fa-cog {
  display: inline-block;
  border: 2px solid black;
  border-radius: 100%;
  padding: 6px;
}
.ikoneles .fa.fa-shopping-cart {
  display: inline-block;
  border: 2px solid black;
  border-radius: 100%;
  padding: 6px;
}
