.header {
  padding: 0px;
  min-height: ųėpx;
  display: inline-block;
  background: var(--white-color);
  position: relative;
  margin-bottom: 10px;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.logoheader {
  width: 15%;
  float: left;
}

.navigacija {
  display: inline-block;
  float: left;
  margin-left: 100px;
  margin-top: 6px;
}
.ikoneles {
  display: inline-block;
  float: right;
  margin-left: 10px;
}
.navigacija .home {
  display: inline-block;
  margin-right: 30px;
}
.navigacija .drop-down {
  display: inline-block;
  margin-right: 30px;
}

.navigacija .drop-down .landing {
  color: var(--btn-color);
}
/* .navigacija .pages {
  display: inline-block;
  margin-right: 30px;
} 
.navigacija .docs {
  display: inline-block;
  margin-right: 30px;
}
.navigacija .demos {
  display: inline-block;
  margin-right: 30px; 
}*/

.ikoneles .fa.fa-cog {
  display: inline-block;
  border-radius: 100%;
  padding: 6px;
  background-color: var(--settings-color);

  margin-right: 5px;
}
.ikoneles .fa.fa-shopping-cart {
  display: inline-block;

  border-radius: 100%;
  padding: 6px;
  background-color: var(--btn-color);
}
