.hero {
  background-image: url(../../img/bg01.png);
  min-height: 100vh;
  background-position: center;
  background-color: var(--light-gray-color);
  z-index: 1;
}
.bigletters {
  font-size: 64px;
  font-weight: 545;
}
.color {
  color: var(--btn-color);
}

.verticalcenter {
  margin-top: 60px;
}
.bg {
  background-color: red;
}
.bg1 {
  background-color: blue;
}
