.reviews {
  background-image: url(../../img/bg02.jpg);
  /* min-height: 100vh; */
  background-position: center;
  background-color: var(--light-gray-color);
  z-index: 1;
}
.stars {
  display: inline-block;
  /* position: center; */
  margin-left: 230px;
  padding: 10px 0 10px 0;
  color: var(--start-color);
}

.stars > .fa.fa-star {
  padding: 0 2px 0 2px;
}
.client-name {
  display: inline-block;
  margin-left: 260px;
}
.client-foto {
  display: inline-block;
  width: 70px;
  border-radius: 50%;
  margin-left: 250px;
  padding: 25px 0 25px 0;
}
.photo-mover {
  display: inline-block;
  margin-left: 250px;
}
.squares {
  display: inline-block;
  border: 2px solid var(--btn-color);
  background-color: var(--btn-color);
  width: 10px;
  height: 10px;
  border-radius: 40%;
}
.avatar {
  display: inline-block;
  height: 25px;
}
