.reviews {
  background-image: url(../../img/bg02.jpg);
  /* min-height: 100vh; */
  background-position: center;
  background-color: var(--light-gray-color);
  z-index: 1;
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.stars {
  margin-top: 20px;
}

.stars > .fa.fa-star {
  color: #f90;
}

.client-foto {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.photo-mover {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}
.squares {
  width: 10px;
  height: 10px;
  border-radius: 25%;
  background-color: blue;
}
