.workprocess {
  border-radius: 10px;
  transition: all 0.5s;
  box-shadow: 0px 0px 5px 1px rgba(53, 52, 52, 0.219);
  padding: 20px 20px;
}
.workprocess:hover {
  margin-top: -10px;
}
.read-more {
  display: inline-block;
  margin-right: 10px;
}
