.workprocess {
  border-radius: 10px;
  transition: all 0.5s;
  box-shadow: 0px 0px 5px 1px rgba(53, 52, 52, 0.219);
  padding: 20px 20px;
}
.workprocess:hover {
  margin-top: -10px;
}
.read-more {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.card-content {
  padding-bottom: 0px;
}
.fa.fa-angle-double-right {
  margin-left: 60px;
}
.step-style > .fa.fa-check {
  margin-left: 40px;
}
